[package]
name = "finalytics-py"
version = "0.5.0"
edition = "2021"
readme = "README.md"

[lib]
name = "finalytics"
crate-type = ["cdylib"]

[dependencies]
finalytics = { path = "../rust", features = ["kaleido"] }
polars = "0.41.3"
tokio = { version = "1.32.0", features = ["full"] }
pyo3 = { version = "0.22.2", features = ["extension-module", "generate-import-lib", "gil-refs"] }
plotly = "0.9.0"