<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="icon" type="image/png" href="../images/favicon.png">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  <style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .row {
        flex: 1;
        display: flex;
    }

    .form-container {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        margin-right: 20px; /* Create space between form and tabs */
        flex: 0.5; /* Reduce width of the form container */
        margin-top: 5px;
    }
  </style>
</head>
<body>
<div class="page-content">

  <!-- Use the custom navbar component -->
  <navbar-component></navbar-component>

  <!-- Grid layout for form fields and tabs -->
  <div class="row">
    <div class="col-md-4 form-container">
      <form action="/portfolio_report" method="post">
        <!-- Form fields -->
        <div class="form-group">
          <label for="symbols">Symbols</label>
          <input type="text" class="form-control" id="symbols" name="symbols" value="{{ form_data.symbols }}" required>
        </div>
        <div class="form-group">
          <label for="start_date">Start Date</label>
          <input type="date" class="form-control" id="start_date" name="start_date" value="{{ form_data.start_date }}" required>
        </div>
        <div class="form-group">
          <label for="end_date">End Date</label>
          <input type="date" class="form-control" id="end_date" name="end_date"  value="{{ form_data.end_date }}" required>
        </div>
        <div class="form-group">
          <label for="interval">Interval</label>
          <select class="form-control" id="interval" name="interval" required>
            <option value="1d" >Daily</option>
            <option value="1wk">Weekly</option>
            <option value="1mo">Monthly</option>
            <option value="3mo">Quarterly</option>
          </select>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
                const intervalSelect = document.getElementById("interval");
                const form_data_interval = "{{ form_data.interval }}";

                for (let i = 0; i < intervalSelect.options.length; i++) {
                    if (intervalSelect.options[i].value === form_data_interval) {
                        intervalSelect.options[i].selected = true;
                        break;
                    }
                }
            });
          </script>
        </div>
        <div class="form-group">
          <label for="benchmark_symbol">Benchmark</label>
          <input type="text" class="form-control" id="benchmark_symbol" name="benchmark_symbol" list="benchmarks" value="{{ form_data.benchmark_symbol }}" required>
          <datalist id="benchmarks">
            <!-- Here, you'll dynamically populate the datalist options using JavaScript -->
          </datalist>
        </div>
        <div class="form-group">
          <label for="confidence_level">Confidence Level</label>
          <input type="text" class="form-control" id="confidence_level" name="confidence_level" value="{{ form_data.confidence_level }}" >
        </div>
        <div class="form-group">
          <label for="risk_free_rate">Risk Free Rate</label>
          <input type="text" class="form-control" id="risk_free_rate" name="risk_free_rate" value="{{ form_data.risk_free_rate }}" >
        </div>
        <div class="form-group">
          <label for="objective_function">Objective Function</label>
          <select class="form-control" id="objective_function" name="objective_function">
            <option value="max_sharpe" selected>Maximize Sharpe Ratio</option>
            <option value="min_vol">Minimize Volatility</option>
            <option value="max_return">Maximize Return</option>
            <option value="min_var">Minimize Value at Risk</option>
            <option value="min_cvar">Minimize Conditional Value at Risk</option>
            <option value="min_drawdown">Minimize Drawdown</option>
          </select>
          <script>
            document.addEventListener("DOMContentLoaded", function() {
                const objFuncSelect = document.getElementById("objective_function");
                const form_data_obj_func = "{{ form_data.objective_function }}";

                for (let i = 0; i < objFuncSelect.options.length; i++) {
                    if (objFuncSelect.options[i].value === form_data_obj_func) {
                        objFuncSelect.options[i].selected = true;
                        break;
                    }
                }
            });
          </script>
        </div>
        <button type="submit" class="btn btn-primary">Generate Report</button>
      </form>
    </div>
    <div class="col-md-8">
      <!-- Chart content placeholder -->
      <div id="chart-content-placeholder">
        {{ chart_content | safe }}
      </div>
    </div>
  </div>
</div>
<script>
  // Function to fetch symbols and populate the datalist
    async function populateDatalist(inputId, datalistId) {
        const datalist = document.getElementById(datalistId);
        const input = document.getElementById(inputId);

        // Fetch symbols from your Actix Web route
        try {
            const response = await fetch('/get_symbols');
            const data = await response.json();

            if (data.length > 0) {
                // Clear existing datalist options
                datalist.innerHTML = '';

                // Populate the datalist with fetched symbols and link them to symbol
                data.forEach(ticker => {
                    const option = document.createElement('option');
                    option.value = ticker.symbol; // Value is set to symbol
                    option.textContent = ticker.name; // Displayed text is set to name
                    datalist.appendChild(option);
                });
            }
        } catch (error) {
            console.error(`Error fetching symbols for ${inputId}:`, error);
        }
    }

    // Trigger the function for the "Benchmark Symbol" input
    populateDatalist('benchmark_symbol', 'benchmarks');
</script>
<script>
  // Initialize Choices.js for the symbols input
  let selectedSymbols;

  function initializeChoicesInput() {
    const symbolsSelect = document.getElementById('symbols');
    selectedSymbols = new Choices(symbolsSelect, {
      removeItemButton: true,
      delimiter: ',',
      searchChoices: true,
    });

    // Fetch symbols from your Actix Web route
    fetch('/get_symbols')
            .then(response => response.json())
            .then(data => {
              const choices = data.map(ticker => ({
                value: ticker.symbol,
                label: ticker.name,
              }));

              selectedSymbols.setChoices(choices, 'value', 'label', true);
            })
            .catch(error => console.error('Error fetching symbols:', error));
  }

  // Call the function to initialize the Choices input
  initializeChoicesInput();

  // Add event listener to the form
  document.querySelector('form').addEventListener('submit', function (e) {
    // Prevent the default form submission
    e.preventDefault();

    // Get the selected values from Choices.js
    const selectedValues = selectedSymbols.getValue(true); // This gets an array of selected values

    // Convert the selected values to a comma-separated string
    const selectedSymbolsString = selectedValues.join(',');

    // Set the value of the "symbols" input field
    document.getElementById('symbols').value = selectedSymbolsString;

    // Submit the form
    this.submit();
  });
</script>
<script src="../components/navbar.js"></script>
</body>
</html>
