name: Python

on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Perl and cpanm
        run: |
          sudo apt-get update
          sudo apt-get install -y perl
          sudo apt-get install -y cpanminus
      - name: Install libipc-cmd-perl
        run: sudo cpanm IPC::Cmd
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: python
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          path: python/dist
          name: linux-wheels-${{ matrix.target }}  # Unique name with platform prefix
          overwrite: false

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [ x86, x86_64 ]  # Ensure both targets are included for testing
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.target }}
      - name: Set RUSTFLAGS to disable AVX2, AVX, and SSE
        env:
          RUSTFLAGS: |
            -C target-feature=-avx2
            -C target-feature=-avx
            -C target-feature=-sse
        run: echo "RUSTFLAGS set to disable AVX2, AVX, and SSE"
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: python
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          path: python/dist
          name: windows-wheels-${{ matrix.target }}
          overwrite: false

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          working-directory: python
          sccache: 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          path: python/dist
          name: macos-wheels-${{ matrix.target }}  # Unique name with platform prefix
          overwrite: false

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
          working-directory: python
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          path: python/dist
          name: sdist
          overwrite: false

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"  # Trigger release when a tag is pushed
    needs: [linux, windows, macos, sdist]
    env:
      NODE_OPTIONS: --max-old-space-size=16384
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: linux-wheels-x86_64  # Download dynamically named wheels based on platform and target
      - uses: actions/download-artifact@v4
        with:
          name: macos-wheels-x86_64  # Download dynamically named wheels based on platform and target
      - uses: actions/download-artifact@v4
        with:
          name: windows-wheels-x64  # Download dynamically named wheels based on platform and target
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing *
